<<<<<<< HEAD
body {
    background-color: pink;
}

h1 {
    color: blue;
}

p {
    color:green;
}
=======
body {
    background-color: lightgrey;
}

h1 {
    color: blue;
}

p {
    color:green;
}
>>>>>>> 4ebf84a9d2d28ba707ee4697faf19b77cccc9bea
